<po-accordion>
    <po-accordion-item p-label="Qual sua duvida">
        <po-accordion>
            <po-accordion-item p-label="1 po-accordion dentro do outro">
                Lorem ipsum dolor sit amet. Sit omnis nisi nisi nihil et molestiae quaerat 33 obcaecati iste. Non
                ratione vero
                vel quos totam et sapiente voluptatem ut nemo accusamus qui placeat delectus. Et sunt earum et
                voluptatem culpa
                ut deserunt galisum rem velit commodi est eligendi voluptas ut facere sed incidunt dolore. Et
                dignissimos quia
                ut fugiat placeat eos unde nihil.
            </po-accordion-item>
            <po-accordion-item p-label="2 po-accordion dentro do outro">
                Lorem ipsum dolor sit amet. Sit omnis nisi nisi nihil et molestiae quaerat 33 obcaecati iste. Non
                ratione vero
                vel quos totam et sapiente voluptatem ut nemo accusamus qui placeat delectus. Et sunt earum et
                voluptatem culpa
                ut deserunt galisum rem velit commodi est eligendi voluptas ut facere sed incidunt dolore. Et
                dignissimos quia
                ut fugiat placeat eos unde nihil.
            </po-accordion-item>

        </po-accordion>
        Lorem ipsum dolor sit amet. Sit omnis nisi nisi nihil et molestiae quaerat 33 obcaecati iste. Non ratione vero
        vel quos totam et sapiente voluptatem ut nemo accusamus qui placeat delectus. Et sunt earum et voluptatem culpa
        ut deserunt galisum rem velit commodi est eligendi voluptas ut facere sed incidunt dolore. Et dignissimos quia
        ut fugiat placeat eos unde nihil.
    </po-accordion-item>

    <po-accordion-item p-label="Sobre nós">
        Lorem ipsum dolor sit amet. Sit omnis nisi nisi nihil et molestiae quaerat 33 obcaecati iste. Non ratione vero
        vel quos totam et sapiente voluptatem ut nemo accusamus qui placeat delectus. Et sunt earum et voluptatem culpa
        ut deserunt galisum rem velit commodi est eligendi voluptas ut facere sed incidunt dolore. Et dignissimos quia
        ut fugiat placeat eos unde nihil.
    </po-accordion-item>
</po-accordion>